{% load core_tags %}

<div class="col-md-3">
{#    {% some_interesting %}#}
    <div class="card" style="width: 18rem; margin-top: 20px;">
{#          <img src="..." class="card-img-top" alt="...">#}
        <div class="card-body">
            <h5 class="card-title">{{ product.name|upper|lower|title }}</h5>
            <p class="card-text">{{ product.description|truncatewords:10 }}</p>
            <p>
                {% for tag in product.tags.all %}
                    <a href="#">#{{ tag.name }}</a>
                {% endfor %}
            </p>
            <a href="#" class="btn btn-primary">Buy ${{ product.price|multiple:5|floatformat:2 }}</a>
            <span style="float: right">By {{ product.user.username|default:"Shop" }}</span>
        </div>
    </div>
</div>
