<hr>
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Check our super products now!</h1>
    </div>
</div>
<hr>
<div class="row">
    {% for product in random_products %}
        {% include 'includes/product.html' with something='test message' %}
    {% endfor %}
</div>
<hr>
