<html>
    <head>
        {% block css %}{% endblock css %}
    </head>
    <body>
        <div>
            <a href="/">Home</a>
            <a href="/about/">About Us</a>
            <a href="/feedback/">Feedback</a>
            <a href="/feedback/list/">Feedback List</a>
        </div>
        {% block content %}
        {% endblock content %}

        {% block js %}{% endblock js %}
    </body>
</html>
