{% extends "base.html" %}

{% block content %}
    <!-- {"name": "Loki", "feedback": "Test"} -->
    <!--http://127.0.0.1:5000/feedback/?name=Loki&feedback=This+is+test+feedback-->
    <!--http://127.0.0.1:5000/feedback/-->
    <form method="post" action="/feedback/">
        <span>Your name: </span> <br>
        <input type="text" name="name" required ><br>

        <span>Your age: </span> <br>
        <input type="number" name="age" required ><br>

        <span>Feedback: </span> <br>
        <textarea cols="50" rows="10" name="feedback" required></textarea><br><br>
        <button type="submit">Send feedback</button>
    </form>

{% endblock content %}
