{% extends "base.html" %}

{% block content %}

    <h1>Feedback List</h1>
    <!--Linkin Park-->
    <!--Lincin Park-->
    <!--Linkoln Park-->
    <!--linkin park-->
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Feedback</th>
        </tr>
        {% for feedback in feedbacks %}
            {% if feedback %}
            <tr>
                <!--<td>{% if feedback[0] %} {{ feedback[0] }} {% else %} <span> -&#45;&#45; </span> {% endif %}</td>-->
                <!--<td>{% if feedback[1] %} {{ feedback[1] }} {% else %} <span> -&#45;&#45; </span> {% endif %}</td>-->
                <!--<td>{% if feedback[2] %} {{ feedback[2] }} {% else %} <span> -&#45;&#45; </span> {% endif %}</td>-->
                <td>{{ feedback[0]|default("---", True) }}</td>
                <td>{{ feedback[1]|default("---", True) }}</td>
                <td>{{ feedback[2]|default("---", True) }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <!--<h2>{{ some }}</h2>-->

    <!--{% for item in some_list %}-->

        <!--{% if item % 2 == 0 %}-->
            <!--<h3> - {{ item }}</h3>-->
        <!--{% endif %}-->

    <!--{% endfor %}-->

    <!--{% if is_show_part == True %}-->
        <!--<div style="background: red; height: 100px; width: 100px; border-radius: 100px;"></div>-->
    <!--{% else %}-->
        <!--<h1>No red circle for you!</h1>-->
    <!--{% endif %}-->

{% endblock content %}
