{% extends 'base.html' %}


{% block content %}
    <h1>Add Song</h1>
    <form method="post" action=".">
        <label>Song Name</label><br>
        <input type="text" name="name"><br><br>
        <label>Author</label><br>
        <select name="author">
            <option> ---- </option>
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select><br><br>

        <label>Genre</label><br>
        <select name="genre">
            <option> ---- </option>
            {% for genre in genres %}
                <option value="{{ genre.id }}">{{ genre.name }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Save</button>
    </form>
{% endblock content %}
