{% extends 'base.html' %}


{% block content %}
    <table border="1">
        <h1>Music list</h1>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
        {% for song in songs %}
        <tr>
            <td>{{ song.name }}</td>
            <td>{{ song.autor.name }}</td>
            <td>{{ song.genre.name }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
