{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <h1>Feedback</h1>
    <form method="post"> {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Leave feedback</button>
    </form>
{% endblock content %}
