{% extends 'base.html' %}
{% load core_tags %}
{% load cache %}

{% block content %}
    {% with some_new=12 %}
        {{ some_new }}
    {% endwith %}

    {% cache 500 tags %}
        {% for tag in tags %}
            <a href="#">#{{ tag.name }}</a>
        {% endfor %}
    {% endcache %}

    {% random_products %}

    <div class="row">
        {% for product in products %}
            {% include 'includes/product.html' with something='test message' %}
        {% endfor %}
    </div>
{% endblock content %}
