{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p><b>Username:</b> {{ object.username }}</p>
            <p><b>Email:</b> {{ object.email }}</p>
            <p><b>First name:</b> {{ object.first_name }}</p>
            <p><b>Last name:</b> {{ object.last_name }}</p>
          </div>
        </div>
    </div>
    <div class="col-md-8">
        <a class="btn btn-success" href="/create_product/">Create product</a>
        <div class="row">
            {% for product in object.product_set.all %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem; margin-top: 20px;">
            {#          <img src="..." class="card-img-top" alt="...">#}
                      <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="/edit_product/{{ product.id }}/" class="btn btn-primary">Edit</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
