{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form method="post">{% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
{% endblock content %}
