{% extends 'base.html' %}
{% load core_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <form method="GET">
                <label>Price</label>
                <input class="form-control" name="min-price" placeholder="min">
                <input class="form-control" name="max-price" placeholder="max">

                <input type="checkbox" checked name="is_user_items"> <label>Is User Items</label>
                <button class="btn btn-primary" type="submit" style="width: 100%">Filter</button>
            </form>
        </div>
        <div class="col-md-9">
            {% random_products %}
            <div class="row">
            {% for product in object_list %}
                {% include 'includes/product.html' %}
            {% empty %}
                <h1 style="text-align: center">No items found</h1>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
